.header > div {
  z-index: 0 !important;
}
.title > div {
  background-color: #B71C1C
  ;
}


div.title  {
  background-color: #B71C1C

  !important;
}

 h1 {
  font-family: 'Raleway';
  font-style: italic;
  background-color: #b71c1c24
  ;
}

.menu { 
  margin-top: 5px;
}

.icon-menu {
  display: none;
}

@media (max-width: 750px) {
  .menu {
    display: none;
  }

  .icon-menu {
    display: block;
  }
}