.header > div {
  z-index: 0 !important;
}
.title > div {
  background-color: #333333;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #dd1818, #333333);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #dd1818, #333333); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  ;
}


div.title  {
  background-color:#333333;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #dd1818, #333333);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #dd1818, #333333) /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  

  !important;
}

.logo{
  height: 50;
  width: 35;
}


 h1 {
  font-family: 'Raleway';
  font-style: italic;
  background-color: #b71c1c24
  ;
}

.menu { 
  margin-top: 5px;
}

.icon-menu {
  display: none;
}

@media (max-width: 750px) {
  .menu {
    display: none;
  }

  .icon-menu {
    display: block;
  }
}